body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.image-offset{
  max-width: 110px;
  margin-left: -10px;
  margin-top: -20px;
  filter: brightness(1.5);
}